**/gen/
**/edmx/
*.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
schema*.sql
!srv/src/main/resources/schema-sqlite.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea
.reloadtrigger
